.spring_green {
    --greenishYellow: #b6d600;
    --pistachioYellow: #f7fc99;
    --white: #ffffff;
    --greenishLight: #f3f4d4;
    --greenishMedium: #d4d79e;
    --springGreen: #b8cc82;
    --islandGreen: #48a94b;
    --brightGreen: #84b50e;
    --darkGreen: #7b923f;
    --mossBrown: #7d732f;
    --blackOlive: #1d200e;
    --black: #000000;
    --radishRed: #eb3345;
}


