.spring_green {
    --white: #ffffff;
    --greenishLight: #f3f4d4; /* unused? */
    --greenishSepia: #e9f4ca; /* text editor background */
    --thunarMint: #5aaa9a;
    --greenishYellow: #b6d600;
    --warmConsole: #bfe558;  /* gutter background */
    --lightConsole: #caf4b7;
    --pistachioYellow: #f7fc99;
    --fadedFooter: #a7d1b6;
    --neonGrass: #79c310;
    --mellowFlow: #95a7b4; /* unused */
    --darkEucalypticFlow: #4c5b44;
    --seriousMintGreen: #137956; /* unused */
    --greenEucalyptus: #728660;
    --transformativeTeal: #2f6364;
    --neonPastel: #aff1bb;
    --neonMint: #6ae9b1; /* subtle hairlines */
    --darkConsole: #095d4a; /* text editor and gutter foreground */
}
