.orange_rain {
    --white: #ffffff;
    --sepiaLight: #F9F5D5; /* text editor background */
    --deepYellowOrange: #E49d41;
    --lightWood: #E3CA98;
    --sepiaOrangeLight: #ffe8b7; /* gutter background */
    --sepiaOrangeDeep: #ffb37a;
    --orangeLight: #FD9649;
    --deepOrange: #F38300;
    --reddishWood: #A95424;
    --midnightBlue: #223255; /* text editor foreground */
    --midnightBlackVinyl: #040A19;
    --vinylBlueGray: #3A5477;
    --neonBlueLight: #3581FF;
    --neonBlueBeff: #49BEFF; /* subtle hair lines */
    --GUTTER_FOREGROUND: #800E34; /* gutter foreground */
}